<h1>Vendor Order</h1>
<h2>Vendor: @Model.Name</h2>
<p>Fill out the form to add a new order from the vendor.</p>

<form action="/vendors/@Model.Id/orders" method="post">
  <div>
    <label for="name">Order title</label>
    <input id="title" name="title" type="text">
  </div>
  <div>
    <label for="description">Description of order</label>
    <input id="description" name="description" type="text">
  </div>
  <div>
    <label for="price">Price of order $</label>
    <input id="price" name="price" type="number" step="0.01">
  </div>
  <div>
    <label for="date">Date of order</label>
    <input id="date" name="date" type="text">
  </div>
  <div>
    <button type="submit">Submit order</button>
  </div>
</form>