<h1>Add Vendor</h1>
<p>Fill out the form to add a new vendor.</p>

<form action="/vendors" method="post">
  <div>
    <label for="name">Vendor name</label>
    <input id="name" name="name" type="text">
  </div>
  <div>
    <label for="description">Description of vendor</label>
    <input id="name" name="name" type="text">
  </div>
  <div>
    <button type="submit">Submit vendor</button>
  </div>
</form>